h1{
  margin-top: 50px;
  text-align: center;
}
.main-contain{
  margin-top: 50px;
width:80%;
background:RGB(255,255,255);
position: absolute; 
left: 50%; 
transform: translateX(-50%);
}	
.item{
padding-top:10px;
padding-bottom:10px;
padding-left:20px;
padding-right:20px;
background:white;
border-radius:15px;
cursor:pointer;
box-shadow:0 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.item,a{
font-family:-apple-system;
font-size:25px;
text-decoration: none;
color:black;
}
.item:hover{
background:rgba(245,245,245);
}